-# シゴト詳細ページ　職種部分
.side-occupation-list
  %ul.side-occupation
    %li.current.mb-2.ml-2
      %a すべて
      %span (128)
    %li.mb-2.ml-2
      %a 記事執筆
      %span (90)
    %li.mb-2.ml-2
      %a 写真撮影
      %span (9)
    %li.mb-2.ml-2
      %a 動画撮影
      %span (3)
    %li.mb-2.ml-2
      %a コンシェルジュ
      %span (0)
    %li.mb-2.ml-2
      %a 情報提供
      %span (10)
    %li.mb-2.ml-2
      %a 調査
      %span (3)
    %li.mb-2.ml-2
      %a アンバサダー
      %span (3)
    %li.mb-2.ml-2
      %a モデル
      %span (1)
    %li.mb-2.ml-2
      %a 体験モニター
      %span (3)
    %li.mb-2.ml-2
      %a その他
      %span (4)
    %li.mb-2.ml-2
      %a 営業代行
      %span (3)
    %li.mb-2.ml-2
      %a 正社員
      %span (1)
    %li.mb-2.ml-2
      %a 編集者
      %span (0)
    %li.mb-2.ml-2
      %a ディレクター
      %span (1)
    %li.mb-2.ml-2
      %a モニターツアー
      %span (1)
    %li.mb-2.ml-2
      %a バイヤー
      %span (1)
    %li.mb-2.ml-2
      %a 体験移住
      %span (1)
    %li.mb-2.ml-2
      %a 海外
      %span (1)
