.side-job-tag
  %dl.side-job-tag-list
    %dt 人気のタグ
    %dd
      %ul.side-tag-list
        %li
          %i.fa.fa-tag
          取材あり
        %li
          %i.fa.fa-tag
          記事執筆
        %li
          %i.fa.fa-tag
          写真
        %li
          %i.fa.fa-tag
          未経験OK
        %li
          %i.fa.fa-tag
          体験
        %li
          %i.fa.fa-tag
          カンタン応募
