.main-content
  #side.rigth
    .side-profile-01
      .image
        %image.image01{src: "https://d1te0bovbq6epg.cloudfront.net/uploads/rakuten_travel/company_staff_icon.png"}
      %p.side-profile-title 担当者さまから一言
      %p.side-profile-text 「この場所に行きたい！旅行したい！」と、読んだ人の心を動かせるような、読者の立場に立ったコンテンツを一緒に作りましょう！
    .side-job-detail-01
      .side-job-category
        %img.image02{src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-category.svg", alt: "カテゴリ"}
        %p.image02-text 記事執筆
      .side-job-company
        %img.image03{src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-company.svg", alt: "会社名"}
        %P.image03-text 楽天株式会社
      .side-job-return-01
        %img.image04{src: "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-money.svg", alt:"金額"}
        %p.price-area
          ￥
          %span.price 23,000
          〜 ￥
          %span.price 55,000
          ／本＋経費（上限あり）
      .side-tag-list-02
        %img.image04{:alt => "タグ", :src => "https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-01.svg"}/
        %ul
          %li
            %a{:href => ""}
              %i.fa.fa-tag
              取材あり
          %li
            %a{:href => ""}
              %i.fa.fa-tag
              写真
          %li
            %a{:href => ""}
              %i.fa.fa-tag
              記事執筆
          %li
            %a{:href => ""}
              %i.fa.fa-tag
              ライター
          %li
            %a{:href => ""}
              %i.fa.fa-tag
              カメラマン
          %li
            %a{:href => ""}
              %i.fa.fa-tag
              徳島県
          %li
            %a{:href => ""}
              %i.fa.fa-tag
              香川県
          %li
            %a{:href => ""}
              %i.fa.fa-tag
              岡山県
          %li
            %a{:href => ""}
              %i.fa.fa-tag
              愛媛県
          %li
            %a{:href => ""}
              %i.fa.fa-tag
              広島県
          %li
            %a{:href => ""}
              %i.fa.fa-tag
              島根県
          %li
            %a{:href => ""}
              %i.fa.fa-tag
              山口県
      .side-job-detail-inner-02.like
        %p
          %button#work-like-button.btn.w-100.work_like
            .star
              %i.fa.fa-star
            お気に入りに追加
      .side-job-detail-inner-02
        %p
          %a.btn.w-100{href: ""} 応募画面へ進む
        %p.side-job-detail-text 現在16人が応募済みです

