.container
  %ul.slick
    %li.first.slick-image
      =image_tag('https://d1te0bovbq6epg.cloudfront.net/uploads/2018%E5%B9%B49%E6%9C%88%E5%88%86/rakuten_asahikawa.jpg')
      .shadow-box
        .limit-time
          =fa_icon 'comment'
          .box
            %span.until あと
            %span.number 1
            %span.days 日
        .catchcopy
          .company
            %p 楽天株式会社
          .copy
            %h3 【北海道・2泊３日】楽天トラベルで「旭川」の魅力を発信してくれる旅人ライター募集！
          .return
            %span.fa-stack.fa-lg
              =fa_icon 'circle-thin stack-1x'
              =fa_icon 'jpy stack-1x'
            %span.detail ¥
            %span.price.under 80,000
            %span.detail
            %span.price.upper
            %span.detail +経費支給
          %ul.tag-list
            %li.tag
              =image_tag('https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-01.svg')
              %span 取材あり
            %li.tag
              =image_tag('https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-01.svg')
              %span 北海道
            %li.tag
              =image_tag('https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-01.svg')
              %span ライター
          .job-link
            %a{href: '/'} シゴト詳細へ
    %li.second.slick-image
      =image_tag('https://d1te0bovbq6epg.cloudfront.net/uploads/2018%E5%B9%B49%E6%9C%88%E5%88%86/shikoku_rakuten/shikoku.jpg')
      .shadow-box
        .limit-time
          =fa_icon 'comment'
          .box
            %span.until あと
            %span.number 7
            %span.days 日
        .catchcopy
          .company
            %p 楽天株式会社
          .copy
            %h3 【中国・四国地方】楽天トラベルで「思わず旅したくなる」記事を書いてくれませんか？
          .return
            %span.fa-stack.fa-lg
              =fa_icon 'circle-thin stack-1x'
              =fa_icon 'jpy stack-1x'
            %span.detail ¥
            %span.price.under 23,000
            %span.detail ~¥
            %span.price.upper 55,000
            %span.detail 本+経費（上限あり）
          %ul.tag-list
            %li.tag
              =image_tag('https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-01.svg')
              %span 取材あり
            %li.tag
              =image_tag('https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-01.svg')
              %span 徳島県
            %li.tag
              =image_tag('https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-01.svg')
              %span ライター
          .job-link
            %a{href: '/'} シゴト詳細へ
    %li.third.slick-image
      =image_tag('https://d1te0bovbq6epg.cloudfront.net/uploads/%E3%81%9F%E3%81%B3%E3%81%93%E3%81%B5%E3%82%8C/Fotolia_220230701_Subscription_Monthly_M.jpg')
      .shadow-box
        .limit-time
          =fa_icon 'comment'
          .box
            %span.until あと
            %span.number 35
            %span.days 日
        .catchcopy
          .company
            %p 株式会社SAGOJO
          .copy
            %h3 【経験不問】都内レジャースポット/全国各地の観光スポットを取材してくれる旅人ライター募集！
          .return
            %span.fa-stack.fa-lg
              =fa_icon 'circle-thin stack-1x'
              =fa_icon 'jpy stack-1x'
            %span.detail ¥
            %span.price.under 6,000
            %span.detail ~¥
            %span.price.upper 8,000
            %span.detail 本+経費（上限あり）
          %ul.tag-list
            %li.tag
              =image_tag('https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-01.svg')
              %span 取材あり
            %li.tag
              =image_tag('https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-01.svg')
              %span 東京
            %li.tag
              =image_tag('https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-01.svg')
              %span ライター
          .job-link
            %a{href: '/'} シゴト詳細へ
