.container
  -# #carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
  -#   %ol.carousel-indicators
  -#     %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleIndicators"}
  -#     %li{"data-slide-to" => "1", "data-target" => "#carouselExampleIndicators"}
  -#     %li{"data-slide-to" => "2", "data-target" => "#carouselExampleIndicators"}
  -#   .carousel-inner
  -#     .carousel-item.active
  -#       %img.d-block.w-100{alt: "First slide", src: "https://d1te0bovbq6epg.cloudfront.net/uploads/LCL%E3%83%90%E3%82%B9%E3%83%88%E3%83%AA%E3%83%83%E3%83%97/Fotolia_203170080_Subscription_Monthly_M.jpg"}/
  -#     .carousel-item
  -#       %img.d-block.w-100{alt: "Second slide", src: "https://d1te0bovbq6epg.cloudfront.net/uploads/%E3%81%9F%E3%81%B3%E3%81%93%E3%81%B5%E3%82%8C/Fotolia_220230701_Subscription_Monthly_M.jpg"}/
  -#     .carousel-item
  -#       %img.d-block.w-100{alt: "Third slide", src:  "https://d1te0bovbq6epg.cloudfront.net/uploads/2018%E5%B9%B49%E6%9C%88%E5%88%86/rakuten_asahikawa.jpg"}/
  -#   %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleIndicators", :role => "button"}
  -#     %span.carousel-control-prev-icon{"aria-hidden" => "true"}
  -#     %span.sr-only Previous
  -#   %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleIndicators", :role => "button"}
  -#     %span.carousel-control-next-icon{"aria-hidden" => "true"}
  -#     %span.sr-only Next
  .slick
    .swiper-slide Slide 1
    .swiper-slide2 Slide 2
    .swiper-slide3 Slide 3
    
