.thum-column-01
  %a
    .image
      %img(src="https://d1te0bovbq6epg.cloudfront.net/uploads/すごい旅研究所/なかりほさん/39880696_692228341121168_4875289391406252032_n.jpg")
    .content
      %h3.thum-column-title
        = "【ユーザーインタビュー】「自分が貢献できることを仕事にしたい」フリーライター・編集者 中森りほさん"
      %p.thum-column-utility
        = "2018-09-03"
        %span
          = "169 view"
