#earth
  .inner
    %img.star1(src="https://d1te0bovbq6epg.cloudfront.net/common/img/footer-star1.png")
    %img.star2(src="https://d1te0bovbq6epg.cloudfront.net/common/img/footer-star2.png")
    %img.kinton(src="https://d1te0bovbq6epg.cloudfront.net/common/img/footer-kinton.png")
    %img.earth(src="https://d1te0bovbq6epg.cloudfront.net/common/img/footer-hito-earth.gif")
