.thum-job-01
  %a(href="#")
    .image
      %img(src="https://pbs.twimg.com/profile_images/581025665727655936/9CnwZZ6j.jpg" alt="job_img")
      %p.thum-job-status
        募集中
    .content
      .thum-job-company
        %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/icon-company.svg" alt="会社名")
        %p 楽天株式会社
      %h3.thum-job-title
        【中国・四国地方】楽天トラベルで「思わず旅したくなる」記事を描いてくれませんか？
      %p.thum-job-desc
        中国・四国地方を舞台に、様々な旅行コンテンツを実際に体験して、その魅力を記事として発信してくれる旅人ライターを募集します。観…
      %p.thum-job-utility
        募集終了まで
        %span
          %span.date
            6
          %span
            日
        %span.view
          185
          %span
            view
        .thum-job-taglist
          %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/icon-tag-01.svg" alt="タグ")
          %ul
            %li
              %i.fa.fa-tag
              取材あり
            %li
              %i.fa.fa-tag
              徳島県
            %li
              %i.fa.fa-tag
              ライター
        .thum-job-return
          .inner-01
            %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/icon-money.svg" alt="金額")
            %p
              ¥
              %span.price
                23,000
              = " ~ ¥"
              %span.price
                55,000
              = " /本+経費（上限あり）"
