%aside
  %ul.banner-list-01
    %li
      = link_to works_path, class: "show-work" do
        %span
          シゴト
          %span を見る
    %li
      %a.show-column
        %span
          すごい旅研究所
          %span を見る
