.inner
  %ul.subnav-list
    %li
      %a.beginner(href="#")
        .image
          %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/img-subnav-list-01.svg" alt="beginner")
        %dl
          %dt
            はじめての方は
            %br こちら
          %dd SAGOJOの使い方を確認しよう
    %li
      %a.business(href="#")
        .image
          %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/img-subnav-list-02.svg" alt="business")
        %dl
          %dt
            企業の方は
            %br こちら
          %dd
            SAGOJOがご提供できる価値を
            %br ご確認ください
    %li
      %a.faq(href="#")
        .image
          %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/img-subnav-list-03.svg" alt="FAQ")
        %dl
          %dt.adjast-line
            FAQ
          %dd よくあるご質問はこちら
    %li
      %a.signup(href="#")
        .image
          %img(src="https://d1te0bovbq6epg.cloudfront.net/common/img/img-subnav-list-04.svg" atl="signup")
        %dl
          %dt.adjast-line
            旅人登録
          %dd 登録してシゴトに応募しよう
