= render partial: "./tops/header"
.success-apply
  .inner.new
    .middle
      %h1
        応募が完了しました。
      %p 企業からの連絡をお待ちください。
      %p
        %a.btn(href="/")
          トップページへ戻る
.footer
  .footer-inner
    = render partial: "./tops/footer"
    = render partial: "./tops/copyright"
