.appeal{
  padding-top: 10px;
  margin-top: 70px;
  max-height: 655px;
  width: 100vw;
}
// スライドショー設定
.slick-track{
  width: 100vw;
  max-height: auto;
  position: relative;
  z-index: 1;
  ul.slick {
    background-color: $white_gray;
    width: 100vw;
    margin: 0 0;
    li.slick-image{
      position: relative;
      .image-container{
        max-height: 600px;
        overflow: hidden;
        margin: 0 10px;
        img{
          filter: brightness(70%);
          width: 100%;
          z-index: 2;
        }
      }
    }
  }
}

// ＜＞ボタン
.slick-arrow{
  display: block;
  max-width: 85px;
  width: 50%;
  height: 100%;
  color: $white;
  background-color: rgba(0,0,0,0.5);
  border: none;
  position: absolute;
  z-index: 4;
}
.slick-prev{
  top: 0;
  left: 0px;
}
.slick-prev::before{
  font-family: 'FontAwesome';
  font-size: 3.0rem;
  content: "\f104";
}
.slick-next{
  top: 0;
  right: 0;
}
.slick-next::before{
  font-family: 'FontAwesome';
  font-size: 3.0rem;
  content: "\f105";
}
// ドット部分
ul.slide-dots{
  // padding-top: 100px;
  width: 100%;
  height: 43px;
  margin-top: 10px;
  position: absolute;
  background-color: #f5f5f5;
  z-index: 5;
  li{
    float: left;
    bottom: -5px;
  }
  .slick-active{
    button::before{
      color: $yellow;
    }
  }
}
// あと何日の部分
.limit-time{
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5em;
  z-index: 4;
  color: $white;
  i{
    font-size: 9vw;
    color: $yellow;
    z-index: 5;
  }
  .box{
    position: absolute;
    top: 25%;
    right: 25%;
    z-index: 6;
    width: 50%;
    height: 50%;
    span{
      position: absolute;
      z-index: 7;
    }
    .until{
      top: 0;
      right: 25%;
      font-size: 1vw;
    }
    .number{
      top: 30%;
      right: 40%;
      font-size: 1.8vw;
      font-weight: bold;
    }
    .days{
      font-size: 1vw;
      top: 50%;
      right: 10%;
    }
  }
}

// キャッチコピー
.catchcopy{
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 4;
  margin: 0 auto;
  width: auto;
  text-align: center;
  color: $white;
  .company{
    p{
      font-size: 1.3vw;
      margin-bottom: 45px;
    }
  }
  .copy{
    margin-bottom: 45px;
    width: auto;
    h3{
      margin: 0 75px;
      font-size: 2vw;
      font-weight: bold;
      line-height: 2;
    }
  }
}

// 報酬
.return{
  color: $white;
  span.fa-stack{
    z-index: 4;
    font-size: 1.5vw;
  }
  span.price{
    font-size: 2vw;
  }
  span.detail{
    font-size: 1vw;
  }
}

// タグ
ul.tag-list{
  display: inline-block;
  width: auto;
  list-style: none;
  text-align: center;
  margin-bottom: 45px;
  li.tag{
    display: inline;
    line-height: 15px;
    margin: 2vh 1vw;
    font-size: 0.9vw;
    float: left;
  }
}

// シゴト詳細ボタン
.job-link{
  width: 100%;
  // height: 80px;
  position: absolute;
  z-index: 4;
  a{
    color: $smoky_black;
    font-size: 1.5rem;
    text-decoration: none;
    line-height: 3em;
    margin-bottom: 2vh;
    text-align: center;
    height: 8vh;
    @include square-round_btn($btn-yellow, 15vw, 8vh, 30px);
  }
  a:hover{
    filter: brightness(110%);
  }
}

//
@media(max-width: 737px) {
  .limit-time{
    display: none;
  }
  .job-link{
    display: none;
  }
}
