$h1_titile_back: #f8f8f8;

.container{
  #main.left{
    width: 690px;
    .inner{
      .article{
        padding: 30px 20px;
        background-color: $white;
        .utility{

        }
        h1.main_title{
          p{
            line-height: 39px;
            margin: 20px 0 ;
          }
        }
        ul.utility-sns{
          height: 26px;
          list-style: none;
          li{
            float: left;
            margin-right: 10px;
            img{
              height: 24px;
              width: 78px;
            }
          }
        }
        img{
          width: 650px;
          height: 430px;
        }
        .content{
          h1{
            background-color: $h1_titile_back;
            font-size: 24px;
            line-height: 36px;
            margin: 48px 0 19px 0;
            padding: 18px 25px;
            font-weight: bold;
          }
          p{
            font-size: 15px;
            line-height: 30px;
            margin-top: 30px;
          }
          img{
            width: 650px;
            height: 430px;
            padding-bottom: 30px;
          }
          ol{
            border: solid 1px $dusty_gray;
            padding: 10px 10px;
          }
          li{
            font-size: 15px;
            line-height: 30px;
          }
          strong{
            font-weight: 700;
          }
        }
        .utility-bottom{
          margin: 56px 0 28px 0;
          ul.utility-sns02{
            list-style: none;
            height: 26px;
            margin: 0;
            li{
              float: right;
              margin-right: 10px;
              img{
                height: 24px;
                width: 78px;
              }
            }
          }
        }
        .shigoto-icon-box{
          display: block;
          margin: 85px 0;
          height: 150px;
          padding: 0 90px;
          img.shigoto_icon{
            height: 150px;
            width: 470px;
          }
        }
      }
    }
  }
}
