// 企業マイページのCSS

.jumbotron-fluid.check-users{
  p.lead{
    margin-top: 5%;
  }
}

.container-fluid.check-users{
  padding: 0 0;
  .card-header{
    a{
      font-size: 1.5rem;
      float: left;
      margin-right: 10px;
      line-height: 3;
      color: $black;
    }
    span{
      font-size: 1.5rem;
      float: right;
      line-height: 3;
    }
  }
}
