#wrap{
  padding-top: 71px;
  overflow: hidden;
  .main-content{
    font-size: 1.4rem;
    width: 1090px;
    margin: 15px auto;
    #side{
      width: 290px;
      float: left;
      h1{
        font-size: 2.4rem;
        font-weight: normal;
        line-height: 10.5rem;
        padding-left: 3px;
        text-align: center;
        letter-spacing: 3px;
        color: #000;
        background-image: url("https://previews.123rf.com/images/orangemilk/orangemilk1605/orangemilk160500019/57917881-astratto-minima-semplice-seamless-elegante-e-moderno-con-i-tasti-colorati-seamless-pattern-pu%C3%B2-essere-u.jpg")
      }
      nav{
        padding: 30px 25px;
        background-color: #fff;
        ul{
          margin: 0;
          padding: 0;
          list-style: none;
          .dropdown{
            margin-bottom: 25px;
            #dropdownMenuLink{
              font-size: 14px;
              font-weight: bold;
              position: relative;
              text-decoration: none;
              color: #494848;
            }
            #dropdownMenuLink:after{
              position: absolute;
              top: 50%;
              right: -25%;
              display: block;
              width: 0;
              height: 0;
              margin-top: -3px;
              content: '';
              border-top: 6px solid #ddd;
              border-right: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-left: 6px solid transparent;
            }
            .dropdown-menu{
              font-size: 14px;
            }
            ul{
              display: none;
              margin-top: 25px;
              li{
                margin-bottom: 30px;
                margin-bottom: 25px;
                a{
                  text-decoration: none;
                  color: #494848;
                }
              }
            }
          }
          li:last-child{
            margin-bottom: 0;
            a{
              font-weight: bold;
              position: relative;
              text-decoration: none;
              color: #494848;
            }
            a:after{
              position: absolute;
              top: 50%;
              right: -25px;
              display: block;
              width: 0;
              height: 0;
              margin-top: -3px;
              content: '';
              border-top: 6px solid #ddd;
              border-right: 6px solid transparent;
              border-bottom: 6px solid transparent;
              border-left: 6px solid transparent;
            }
          }
        }
      }
    }
    #main{
      width: 790px;
      float: right;
      .inner{
        padding: 40px 15px;
        background-color: #fff;
        h2{
          font-size: 1.8rem;
          font-weight: normal;
          line-height: 1.2;
          margin: 35px 0 0 15px;
          padding-left: 8px;
          letter-spacing: 2px;
          border-left: 2px solid #ffcb00;
        }
        dl{
          line-height: 1.6;
          padding-top: 25px;
          padding-left: 15px;
          border-bottom: 1px solid #ddd;
          dt{
            font-weight: bold;
            position: relative;
            margin-bottom: 20px;
            padding: 0 15px 0 35px;
            .faq-type{
              color: #ffcb00;
              font-family: 'Arial Rounded MT', 'Arial Rounded MT Bold';
              font-size: 2.1rem;
              position: absolute;
              top: -6px;
              left: 0;
            }
          }
          dd{
            position: relative;
            margin-bottom: 20px;
            padding: 0 15px 0 35px;
            .faq-type{
              color: #5bc479;
              font-family: 'Arial Rounded MT', 'Arial Rounded MT Bold';
              font-size: 2.1rem;
              position: absolute;
              top: -6px;
              left: 0;
            }
          }
        }
      }
    }
  }
}

.list-faq-01.even {
    background-color: #f8f8f8;
}
