.footer {
  width: 100%;
  padding: 75px 0 60px 0;
  color: #fff;
  background-color: #232323;
  position: relative;
  bottom: 0px;
  min-width: 1100px;
  .footer-inner {
    width: 794px;
    margin: 0 auto;
    .footer-lead-01 {
      font-family: "Arial Rounded MT", "Arial Rounded MT Bold";
      font-size: 1.8rem;
      line-height: 1.25;
      margin-bottom: 75px;
      padding-left: 2px;
      text-align: center;
      letter-spacing: 2px;
      color: #ffcb00;
    }
    .footer-col-wrap-01 {
      margin-bottom: 75px;
      overflow: hidden;
      .footer-col {
        float: left;
        width: 50%;
        .footer-list-col-01 {
          font-size: 0.9rem;
          line-height: 2;
          margin-bottom: 0;
          display: flex;
          li {
            width: 40%;
            font-weight: bold;
            ul {
              margin-top: 15px;
              li {
                font-weight: normal;
                width: 100%;
                a {
                  transition: all 0.2s;
                  text-decoration: none;
                  color: #808080;
                  &:hover {
                    text-decoration: none;
                    filter: brightness(120%);
                    transition: 0.2s;
                    cursor: pointer;
                  }
                }
              }
            }
          }
          li.about-sagojo-list {
            width: 60%;
          }
        }
      }
      .footer-form-opinion-01 {
        width: 50%;
        p {
          font-weight: bold;
        }
        .footermail {
          width: 100%;
          border-radius: 4px;
          letter-spacing: 0px;
          background-color: #fff;
          padding: 5px 10px;
          border: 1px solid #fff;
        }
        textarea {
          line-height: 1.5;
          width: 100%;
          height: 210px;
          margin: 10px 0;
          padding: 5px 10px;
          color: #000;
          border-radius: 4px;
        }
        .submit-opinion {
          font-size: 1rem;
          font-weight: bold;
          line-height: 1;
          width: 100%;
          padding: 20px;
          transition: all 0.2s;
          text-decoration: none;
          letter-spacing: 3px;
          color: #232323;
          border-radius: 27px;
          background-color: #ffcb00;
          border: 0;
          &:hover {
            text-decoration: none;
            filter: brightness(120%);
            transition: 0.2s;
            cursor: pointer;
          }
        }
      }
    }
    .copyright {
      font-family: "Arial Rounded MT", "Arial Rounded MT Bold";
      font-size: 1rem;
      padding-left: 3px;
      text-align: center;
      letter-spacing: 3px;
      color: #b8b8b8;
    }
  }
}

@media(max-width: 737px) {
  .footer {
    box-sizing: border-box;
    width: 100%;
    min-width: 100%;
    padding: 40px 27px 55px 27px;
    .footer-inner {
      width: 100%;
      .footer-lead-01 {
        font-size: 0.9rem;
        margin-bottom: 40px;
      }
      .footer-col-wrap-01 {
        margin-bottom: 50px;
        .footer-col {
          margin-bottom: 35px;
          float: none;
          width: 100%;
          .footer-list-col-01 {
            font-size: 0.8rem;
            li {
              ul {
                font-size: 0.7rem;
                li {
                  a {
                  }
                }
              }
            }
            li.about-sagojo-list {
            }
          }
        }
        .footer-form-opinion-01 {
          float: none;
          width: 100%;
          p {
            font-size: 0.8rem;
          }
          .footermail {
          }
          textarea {
          }
          .submit-opinion {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
