$form-background-color: #ffffe0;
// マークダウンエディタと入力内容のプレビューです
.requirement_article{
  width: auto;
  border-radius: 40px;
  background-color: $white;
  .edit-area{
    float: left;
    .image{
      width: 656px;
      height: 50px;
      background-color: $white;
      font-size: 16px;
    }
    textarea{
      border: none;
      background-color: $form-background-color;
      font-size: 15px;
    }
  }
  .preview-area{
    float: right;
    background-color: $white;
    color: $dusty_gray;
    .draw-title{
      height: 92px;
      font-size: 20px;
      margin-bottom: 25px;
    }
    .draw-text{
      height: 602px;
      background-color: $white;
      overflow: scroll;
      font-size: 15px;
    }
  }
  .btn.information{
    width: 100%;
    margin: 0 auto;
    .post_information{
      margin: 50px auto;
      font-size: 20px;
      @include square-round_btn($btn-yellow, 130px, 50px, 25px);
    }
  }
}

// マークダウンテキスト入力方法のモーダル部分
.how-to-edit.w-50{
  h3{
    margin-bottom: 20px;
  }
  .btn.btn-primary{
    margin-bottom: 20px;
    font-size: 15px;
  }
}
.modal-content{
  .modal-header{
    h5{
      font-size: 2.0rem;
    }
  }
  .modal-body{
    p.heading{
      font-size: 1.5rem;
      font-weight: bold;
    }
    p{
      font-size: 1.5rem;
    }
  }
}
