html{
  font-size: 62.5%;
  line-height: 1;
}

.a{
  color: #007bff;
}

#wrap{
  width: 100%;
  height: 100%;
  padding-top: 0;
  background-color: #f5f5f5;
  .main-content01{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: table;
    overflow-y: scroll;
    overflow-x: hidden;
    #main{
      display: table;
      height: 100%;
      margin: 0 auto;
      .inner{
        display: table-cell;
        width: 490px;
        padding: 45px 15px;
        vertical-align: middle;
        .content-only-main-01{
          width: 490px;
          padding: 60px 50px;
          text-align: center;
          -webkit-border-radius: 5px;
          border-radius: 5px;
          background-color: #fff;
          margin: 0 auto;
          .img-prof{
            .img{
              width: 105px;
              -webkit-border-radius: 50%;
              border-radius: 50%;
              background-color: #efefef;
            }
          }
          .hi{
            font-size: 2.4rem;
            font-weight: normal;
            margin: 40px 0 10px;
            padding-left: 2px;
            letter-spacing: 2px;
            line-height: 1.5;
            .hi_bottom{
              font-size: 1.2rem;
              line-height: 1.5;
              margin-bottom: 10px;
              .login{
                text-decoration: none;
                color: #3a94ff;
              }
            }
          }
          .checkbox-msg{
            font-size: 1.5rem;
            color: #e25959;
            font-weight: bold;
          }
        .form-signup-01{
          position: relative;
          font-size: 1.2rem;
          .application-confirm-text.confirm{
            margin-top: 10px;
            margin-bottom: 25px;
            #checkbox_gps.checkbox{
              box-sizing: border-box;
              padding: 0;
              display: inline-block;
              margin-left: 5px;
            }
            .checkbox-font{
              text-decoration: none;
              color: #3a94ff;
            }
          }
          .mailaddress-font{
            font-size: 12px;
          }
        }
        }
      }
    }
  }
}


#sagojo_backendbundle_user_signup_name{
  width: 99.99% !important;
  font-size: 1.4rem;
  line-height: 1;
  height: 50px;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 2px;
  border: 1px solid #ddd;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  box-shadow: none !important;
}
#sagojo_backendbundle_user_signup_email{
  width: 99.99% !important;
  font-size: 1.4rem;
  line-height: 1;
  height: 50px;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 2px;
  border: 1px solid #ddd;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  box-shadow: none !important;
}

#sagojo_backendbundle_user_signup_password{
  width: 99.99% !important;
  font-size: 1.4rem;
  line-height: 1;
  height: 50px;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 2px;
  border: 1px solid #ddd;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

.password-font{
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 10px
}

#sagojo_backendbundle_user_signup__token{
}

.btn.w-100.g-mb0.after_gps{
  width: 99.99% !important;
  margin-bottom: 0 !important;
  font-size: 1.6rem;
  line-height: 2.5rem;
  display: inline-block;
  padding: 20px 47px 20px 50px;
  transition: background-color 0.2s;
  text-align: center;
  text-decoration: none;
  letter-spacing: 3px;
  color: #494848;
  border-radius: 100px;
  background-color: #ffcb00;
  outline: 0;
  outline-offset: 0;
  border: 0;
}

.copyright{
  margin-top: 40px;
  font-family: "Arial Rounded MT", "Arial Rounded MT Bold";
  font-size: 1.4rem;
  padding-left: 3px;
  text-align: center;
  letter-spacing: 3px;
  color: #b8b8b8;
}
